.tasks {
    padding-top: 25px;
}
.tasks__title {
    font-size: 30px;
    color: var(--grey);
}
.tasks__button {
    color: var(--pink);
    height: 24px;
    width: fit-content;
    background: transparent;
    border: 0;
    text-transform: uppercase;
    font-family: 'Open Sans', serif;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}
.tasks__input {
    background: var(--darkest);
    width: 210px;
    border: 0;
    border-radius: 13px;
    height: 24px;
    outline: none;
    color: var(--purple);
    padding-left: 10px;
}
.task {
    margin-top: 10px;
}
